<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="terminal">
            <div class="header">
                <i class="fa fa-terminal" style="font-size: 25px;"></i>
                <h1 style="font-size: 20px; margin-left: auto; margin-top: 2px; margin-right: 5px; font-weight: 400;">Terminal 1</h1>
            </div>

            <form style="margin-top: auto; margin-bottom: 5px;" method="post" type="submit">
                <input name="command" id="command">
            </form>
        </div>
        <div id="root"></div>
    </div>



    <script src="/static/style.js"></script>
    <script>
        window.onload = function(){
            document.getElementById("command").focus();
        }
    </script>
</body>
</html>